<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新生信息查询系统</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet"
          href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet"
          href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

    <link rel="stylesheet"
          href="static/css/index.css">

    <style type="text/css">

    </style>
</head>
<body>
<div class="page-group">
    <div class="page">
        <header class="bar bar-nav">
            <!--<a class="icon icon-me pull-left open-panel"></a>-->
            <h1 class='title'>空中乘务学院2018届新生信息查询</h1>
        </header>

        <div class="content-padded">

            <nav class="bar bar-tab">
                <a class="tab-item active" href="#"> <span
                        class="icon icon-home"></span> <span class="tab-label">首页</span>
                </a>
                <a class="tab-item" href="#" id='me'> <span class="icon icon-me"></span>
                    <span class="tab-label">关于</span>
                </a>
            </nav>
            <!--search bar-->
            <div class="searchbar row" style="margin-top: 50px;">
                <div class="search-input col-85">
                    <input type="search" id='search' placeholder='请输入身份证号...'/>
                </div>
                <a class="button button-fill button-primary col-15"><span id="search_button"
                                                                          class="icon icon-search"></span></a>
            </div>

            <!-- 这里是轮播图展示区 -->
            <div class="swiper-container index-banner" data-space-between='10'>
                <div class="content-title">宿舍床位分布图</div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide img-wrap">
                        <img class="banner-img" width="90%" src="static/img/five.png" alt="">
                    </div>
                    <div class="swiper-slide img-wrap">
                        <img class="banner-img" width="90%" src="static/img/four.png" alt="">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

            <div class="list-block">
            </div>

        </div>


    </div>

    <!--侧边栏  -->
    <div class="panel-overlay"></div>
    <div class="panel panel-right panel-reveal" id="panel-left-demo">
        <div class="content-block">
            <div class="swiper-slide img-wrap">
                <img class="banner-img" width="90%"
                     src="https://ww2.sinaimg.cn/wap720/006jvUZejw1f38559d9z2j30vm0hs433.jpg" alt="">
            </div>
            <p class="in-con">
                空中乘务学院坚持以党的“十六大”精神和江泽民同志“三个代表”重要思想为指导，
                按照学院“创一流飞院，建特色大学”的总体目标和“全素质、宽基础、强英语、双专业、多技能”的
                人才培养目标，坚持以人为本，以学生为中心，以质量求生存，求发展。
                坚持准军事化教育管理不动摇。为培养具有“品行正、修养好、语言强、气质佳、
                才艺精、纪律严”的空中乘务专业实用性人才，建特色专业，打造新的民航品牌专业而不懈努力。
            </p>
            <p class="in-con">
                空中乘务学院毕业学生基本功扎实、理论修养好，纪律作风严、工作适应能力强。
                学生的就业率、签约率高，毕业学生受到各航空公司和用人单位普遍好评。
            </p>
        </div>
    </div>

</div>


<script type='text/javascript'
        src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript'
        src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript'
        src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type="text/javascript" src="static/js/index.js" charset="UTF-8"></script>

<script type="text/javascript">

</script>
</body>
</html>
